* {
  box-sizing: border-box;
}

body {
  background-color: #91a6e6;
  
}
.splash-page {
  background-image: url('../images/shroom-guy-bubble.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 800px; 
  margin-bottom: 100px;
  padding: 150px;
  width: 2000px;
}

.login-form {
  align-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.submit-name,
.start-btn {
  width: 400px;
  border-radius: 15px;
  font-size: 20px;
  height: 100px;
  margin: 0 auto 0 500px;
  text-align: center;
}

.start-btn {
  background-color: #91a6e6;
  color: white;
  width: 405px;
}

.game-wrapper {
  display: grid;
  font-family: sans-serif;
  grid-template-areas: 
            "header header"
            "players puzzle"
            "players choice";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 2fr 2fr; 
  margin: 10px;
}

.player-section{
 grid-area: players;
}

.header{
  grid-area: header;
}
.choice-wrapper {
  grid-area: choice;
  text-align: center;
}

.letters-in-bank {
  display: inline;
  font-size: 40px;
  margin: 5px;
}

.podium {
  border: 2px solid black;
}

.solve-pop-up {
  background-color: white;
  height: 150px;
  left: 650px;
  position: absolute;
  top: 350px;
  width: 350px;
  z-index: 1;
  border: solid;
  padding: 10px;

}

.puzzle-display-container {
  background-color: #f69799;
  grid-area: puzzle;
  height: 100%;
  text-align: center;
  width: 100%;
}

.category-text {
  font-size: 30px;
}

.letter-bank,
.category-text,
.round-instructions,
.podium,
.spin-amount-display,
.current-space-container
 {
  padding: 10px;
}

.podium {
  margin: 8px;
}
.letter-bank {
  grid-area: letters;
}

.disable-clicks {
  pointer-events: none;
}

.logo {
  height: 200px;
}

.logo-name {
  color: white;
  font-size: 80px;
  text-align: center;
}

.bubble {
  height: 400px;
}

.exit-btn {
  display: inline;
  height: 20px;
  position: fixed;
  right: 10px;
  width: 40px;
}

.game-play-button {
  background-color: #FFF;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 2px;
  font-size: 16px;
  height: 50px;
  margin: 20px;
  width: 200px;
}

.game-play-button:hover {
  background-color: #e8df9c;
  font-weight: bold;
}

.puzzle-letter {
  display: inline;
  font-size: 50px;
  padding: 10px;
}

.hidden-letter {
  visibility: hidden;
}

.puzzle-letter-wrapper {
  background-color: #FFF;
  border: 2px solid black;
  height: 80px;
  display: inline-block;
  width: 70px;
}

.hide {
  display: none;
}

.highlight {
  background-color: #e8df9c;
}

.current-space-container {
  border: 2px solid black;
  font-size: 50px;
  height: 70px;
}

.spin-amount-display {
  font-size: 30px;
}