* {
  box-sizing: border-box;
}

body {
  background-color: #91a6e6;
  display: grid;
  font-family: sans-serif;
  grid-template-areas: 
            "header header"
            "players puzzle"
            "players choice";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 2fr 2fr; 
}

.player-section{
 grid-area: players;
}

.header{
  grid-area: header;
}
.choice-wrapper {
  grid-area: choice;
}

.player-choices {

}

.letters-in-bank {
  display: inline;
}

.podium {
  border: 2px solid black;
}

.puzzle-display-container {
  grid-area: puzzle;
  background-color: #f69799;
  height: 100%;
  width: 100%;
}

.letter-bank {
  grid-area: letters;
}

.login-form {
  height: 800px;
  background-image: url('../images/shroom-guy-bubble.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
}

input,
.start-btn {
  width: 400px;
  height: 100px;
  margin: 0 auto 0 600px;
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
}

.start-btn {
  width: 405px;
  background-color: #91a6e6;
  color: white;
}

.top-input {
  margin-top: 150px;
}

.logo {
  height: 200px;
}

.logo-name {
  font-size: 80px;
  text-align: center;
  color: white;
}

.bubble {
  height: 400px;
}

.exit-btn {
  display: inline;
  height: 20px;
  width: 40px;
  position: fixed;
  right: 0px;
}

.puzzle-letter {
  display: inline;
  padding: 10px;
}

.puzzle-letter-wrapper {
  background-color: gray;
  border: 2px solid black;
  display: inline;
}

.hide {
  display: none;
}